<div>
  <div style="margin-bottom: 0;">
    
    <input #inputUrl class="" type="url" placeholder="http://" (keyup.enter)="onEnter(inputUrl.value)" style="margin-bottom: 0; height: 50%"
    />
    
    
  </div>

  <div id="frame">
    <button id="gg" (click)="pageGet()">페이지 가져오기</button>
  
    
  <iframe id="iframe" #somevar [dragula]="'bag-one'" 
  [ngStyle]="{ 'opacity':iframeOpacity,'height':iframeHeight,'width': iframeWidth,'-ms-transform':iframeScale , '-moz-transform':iframeScale,
    '-o-transform': iframeScale,'-webkit-transform':iframeScale,'transform': iframeScale}" sandbox="allow-same-origin allow-forms allow-modals allow-scripts"
    [src]="trustResourceURL">
    <!--[src]="trustResourceURL">-->
  </iframe>
  </div>
</div>


