.outline {
  outline: 1px solid blue;
  outline-offset: -4px;
  width:100%; height:700px; 

}

.center-align{
     outline: 1px solid red;
  outline-offset: -4px;
  
}



/* :host 는 내가 불림을 당할때 부모를 기준으로 적용되는 것을 의미하는듯! 쉐도우 돔과 관련있음.*/

:host-context(body){
  height: 100%; margin: 0; padding: 0;
}

#activeBtn {
  position: absolute;
  bottom: 0;
  height: 100px;
}
