.container1 {
  outline: 1px solid blue;
  outline-offset: -4px;
  width:100%; height:700px; 

}

.center-align{
     outline: 1px solid red;
  outline-offset: -4px;
}

linkframe {
    width: 100%;
    height: 100%;

}