/* :host 는 내가 불림을 당할때 부모를 기준으로 적용되는 것을 의미하는듯! 쉐도우 돔과 관련있음.*/
:host-context(body){
  height: 100%; margin: 0; padding: 0;
}

#activeBtn {
  position: absolute;
  bottom: 0;
  height: 10%;
}

linkFrame {
  /*position 값을 고정시켜두면 하나의 레이어층이 생기는 효과를 받는것 같다. 그러나 어디까지나 부모 태그 안에서의 제한을 지니고 있다.*/
  position: fixed; 
  left: 0.5%;
  top: auto;
  right: auto;
  bottom: 0;
  /*높이는 실제로 2배가 되기떄문에 실제 높이는 윈도우의 94퍼센트라 할수 있다.*/
  height: 46%;
  z-index: 1;
  user-select: none;
}


#devider{
  position: fixed;
  height: 90%;
  z-index: 0;
  cursor: col-resize;
  
}

editor {
  position: fixed;
  overflow: auto;
  width: 100%; 
  height: 95%;
  z-index: 1;
  
}