:host{
    position: fixed;
    padding: 2vh;
    top: 12vh;
    /*위치를 상하좌우 margin값을 퍼센트로 주고 있긴 한데 이렇게 주먹구구식으로 하면 정밀한 위치잡기가 힘들어질 것이다... 해결방안이 필요*/
    left: 15%;
    /*right: auto;*/
    width : 70%;
    height: 70vh;
    
    /*앞뒤 깊이를 줄 수 있는 속성임.*/
    /*display: none;*/
    /*transform: translateX(100);*/
    box-shadow: rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index: 0;

    overflow-y: scroll;
    
}

#fileCollection{
    width: 100%;
}