<div class="z-depth-5">
    <nav class="blue-grey darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">  Google Drive</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a (click)="ActiveSearch()">검색창 열기</a></li>
                <li><a>새로고침</a></li>
                <li><a (click)="closeWindow()">닫기</a></li>
            </ul>
        </div>
    </nav>
    <nav class="blue-grey darken-2" *ngIf="isActiveSearch">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    <div class="row" style="margin: 0">
        <a class="blue-grey lighten-4 black-text text-darken-2 
        waves-effect waves-light btn col s6"
        (click)="clickNewTab()">New File</a>

        <a class="blue-grey lighten-4 black-text text-darken-2 
        waves-effect waves-light btn col s6"
        (click)="clickExistTab()">Existing File</a>
    </div>


    <div id="createFile" class="col s12" *ngIf="isSelectedTab === 1" >
        <div class="row center" style="margin: 0">
            <div class="col s12 " style="margin: 0; padding: 0">
                <div class="card" style="margin: 0 ; padding: 0">
                    <div class="card-content black-text">
                        <span class="card-title">Create File</span>
                        <br><br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>
                            드라이브에 파일을 생성하고, 친구들과 공유하세요
                        </p>
                    </div>
                    <div class="card-action">

                        <a (click)="createFile()">파일 생성 </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fileList" class="col s12" *ngIf="isSelectedTab === 2">
        <div id="fileCollection">
            <ul class="collection">
                <li class="collection-item avatar" *ngFor="let file of files">
                    <img src="" alt="" class="circle">
                    <span class="title">{{file.name}}</span>
                    <p>{{file.iconLink}}</p>
                    <p>{{file.id}} <br>
                    </p>
                    <a href="file.webContentLink" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
    </div>


</div>