<div class="z-depth-5">
    <nav class="blue-grey darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">  Google Drive</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!--<li><a (click)="ActiveSearch()">검색창 열기</a></li>-->
                <!--<li><a (click)="insertFileContent()">새로고침</a></li>-->
                <li><a (click)="closeWindow()">닫기</a></li>
            </ul>
        </div>
    </nav>
    <nav class="blue-grey darken-2" *ngIf="isActiveSearch">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    <div class="row" style="margin: 0">
        <a class="blue-grey lighten-4 black-text text-darken-2 
        waves-effect waves-light btn col s6" (click)="clickNewTab()">New File</a>

        <a class="blue-grey lighten-4 black-text text-darken-2 
        waves-effect waves-light btn col s6" (click)="clickExistTab()">Existing File</a>
    </div>


    <div id="createFile" class="col s12" *ngIf="isSelectedTab === 1">
        <div class="row center" style="margin: 0">
            <div class="col s12 " style="margin: 0; padding: 0">
                <div class="card" style="margin: 0 ; padding: 0">
                    <div class="card-content black-text">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="fileNameForm" id="icon_prefix" type="text" class="validate" [(ngModel)]="newFileName">
                                        <label for="icon_prefix">File Name</label>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <br>
                        <br>
                        <br>
                        <br>
                        <p>

                        </p>
                    </div>
                    <div class="card-action">

                        <a class="black-text" (click)="createFile()" style="font-size: 2em">파일 생성 </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--드라이브 파일 리스트-->
    <div id="fileList" class="col s12" *ngIf="isSelectedTab === 2">
        <div class="preloader-wrapper big active" *ngIf="isCompletedGetList === false">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>




        <div id="fileCollection" *ngIf="isCompletedGetList === true">
            <div class="collection">
                <a class="collection-item" *ngFor="let file of files" (click)="insertFileContent(file)">
                    <b style="font-size: 2em">File Name : {{file.title}} </b>


                    <span class="new badge" data-badge-caption=""></span>
                </a>
            </div>
        </div>
    </div>


</div>