:host{
    position: fixed;
    

    /*위치를 상하좌우 margin값을 퍼센트로 주고 있긴 한데 이렇게 주먹구구식으로 하면 정밀한 위치잡기가 힘들어질 것이다... 해결방안이 필요*/
    top: 10%;
    right: auto;
    left: 30%;
    bottom: auto;

    /*앞뒤 깊이를 줄 수 있는 속성임.*/
    z-index: 1;

    /*뒤쪽 display 를 조절 */

    
}