<div class="row">
    <div class="parallax-container">
        <div class="parallax">
            <div class="overlay"></div>
            <img id="getTokenImg" src="assets/image/testwelcome.gif">
            <div id='getTokenText' class="white-text center-align">
                <h4>Why can't you make it easy? </h4>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h4 class="header">한 화면에서 웹 서칭과 글 작성을 동시에</h4>
            <p>
                노트북에서도 듀얼 모니터 쓰듯이 쓸 수 없을까?<br>
                쓰려고하는 글감만 따로 모아 볼 수는 없을까?<br>
                Alt + Tap 누르기 귀찮다 <br>
                
            </p>
            <button id="initBtn" [ngClass]="isBtnActivate" (click)="interactiveGetToken()" class=" btn waves-effect waves-light" type="submit" name="action">
                    시작하기
                </button>
        </div>
        <div class="row container">
            <span class="light" style="font-size: 2em"><br>
            
            
            
            </span>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="assets/image/newsandpen.jpg" style="display: block; transform: translate3d(-50%, 59px, 0px);"></div>
    </div>
    <footer class="page-footer grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text"></h5>
                    <p class="black-text text-lighten-4"></p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text"></h5>
                    <ul>
                        <!--<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="black-text container">
                © 2017 Copyright Youngtae Kim
                <a class="black-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>




</div>

<div id="toast-container"></div>