<div class="row">
    <div class="parallax-container">
        <div class="parallax">
            <div class="overlay"></div>
            <img id="getTokenImg" src="assets/image/testwelcome.gif">
            <div class="btn " id='getTokenText' class="center-align">
                제품에 대한 설명 텍스트
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="header">Parallax</h3>
            <button (click)="interactiveGetToken()" class="grey lighten-1 btn waves-effect waves-light" type="submit" name="action">
                    <i class="fa fa-google large" aria-hidden="true"></i>
                    START WITH GOOGLE
                </button>
        </div>
        <div class="row container">
            <span class="light" style="font-size: 2em">3nd Editor를 사용하려면 크롬브라우저에 로그인 하셔야 합니다.<br>
            위 버튼을 누르면 잠시 후 권한 획득 창이 나타납니다. 
            권한을 부여하셨으면 <i class=" material-icons">vpn_key</i> 를 누르고 로그인하세요.
            
            </span>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="assets/image/newsandpen.jpg" style="display: block; transform: translate3d(-50%, 59px, 0px);"></div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>




</div>