<div class="row">
    <div class="parallax-container">
        <div class="parallax">
            <div class="overlay"></div>
            <img id="getTokenImg" src="assets/image/testwelcome.gif">
            <div class="btn " id='getTokenText' class="center-align">
                제품에 대한 설명 텍스트
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="header">웹 서칭과 편집을 한 화면에서!</h3>
            <button [ngClass]="isBtnActivate"  (click)="interactiveGetToken()" class=" btn waves-effect waves-light" type="submit" name="action">
                    
                    시작하기
                </button>
        </div>
        <div class="row container">
            <span class="light" style="font-size: 2em"><br>
            
            
            
            </span>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="assets/image/newsandpen.jpg" style="display: block; transform: translate3d(-50%, 59px, 0px);"></div>
    </div>
    <footer class="page-footer grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>




</div>

<div id="toast-container"></div>