<div class="card  white z-depth-5" style="margin: 0">

  <div class="card-content black-text" style="padding-bottom:0">
    <div class="row">
      <span class="card-title">
        <div id="user_info"></div>
      </span>
    </div>
  </div>
  <div class="card-action black-text" (mouseenter)="mouseenter()" (mouseout)="mouseout()" style="padding: 0; font-size: 150%">
    <div class="row" style="margin: 0;" >
    <a id="signin" class="grey-text grey lighten-4 btn waves-effect waves-light col s6">Sign In</a>
    <a id="signOut" class="grey-text grey lighten-4 btn waves-effect waves-light col s6" >Sigh Out</a>
    </div>
  </div>
</div>