<div class="area card  white z-depth-5" style="margin: 0">

  <div class="area card-content black-text" style="padding-bottom:0">
    <div class="area row">
      <span class="area card-title">
        <div id="area user_info"></div>
      </span>
    </div>
  </div>
  <div class="area card-action black-text"  style="padding: 0; font-size: 150%">
    <div class="area row" style="margin: 0;" >
    <a id="signin" class="area grey-text grey lighten-4 btn waves-effect waves-light col s6">Sign In</a>
    <a id="signOut" class="area grey-text grey lighten-4 btn waves-effect waves-light col s6" >Sigh Out</a>
    </div>
  </div>
</div>