<div class="card  white z-depth-5" style="margin: 0">

  <div class="card-content black-text" style="padding-bottom:0">
    <div class="row">
      <img class="col s4 m4 l4" [src]="userImageUrl">
      <span class="card-title">
        <div>{{loginState}} </div>
      </span>
    </div>
  </div>

  <div class="card-action" style="padding-top: 0">
    <a (click)="signIn()"  *ngIf="loginState =='signIn'">{{loginState}}</a>
    <a (click)="signOut()"  *ngIf="loginState =='signOut'">{{loginState}} </a>
  </div>
</div>