<div id="linkTab-color" *ngIf="usage==='linkTab'" >
    <div *ngFor="let folder of listFolder; let i = index;">
        <ul class="center waves-effect" (click)="openFolder(folder.links, i)">
            <li class="top-bar"> {{folder.name}} </li>
            <li *ngIf="isClicked[i] != 'true'" >
                <div>Test</div>
                <linkPack [linkList]="links"></linkPack>
            </li>
        </ul>
    </div>
</div>

<div id="linkTab-color" class="tab-btn waves-effect" *ngIf="usage==='trashCan'">
   <trash-can class="center" ></trash-can> 
</div>

<div id="editorTab-color" *ngIf="usage==='editorTab'">
    <ul class="center">
        <li class="top-bar">Editor Tab</li>
        <li>
            <save class="tab-btn waves-effect"></save>
        </li>
        <li>
            <share class="tab-btn waves-effect"></share>
        </li>
        <li>
            <export class="tab-btn waves-effect"></export>
        </li>
    </ul>
</div>