<div id="linkTab" *ngIf="usage=='linkTab'" >
    <div class="flexible center">
        <div class="top-bar"> URL List</div>
        <div>
            <add class="tab-btn"></add>
        </div>
        <div>
            <linkPack></linkPack>
        </div>
        <div>
            <trash-can class="tab-btn"></trash-can>
        </div>
    </div>
</div>

<div id="editorTab" *ngIf="usage=='editorTab'">
    <div class="flexible center">
        <div class="top-bar"> Editor Tab</div>
        <div>
            <save></save>
        </div>
        <div>
            <share></share>
        </div>
        <div>
            <export></export>
        </div>
    </div>
</div>