.hidden{
  visibility: hidden;
}

.tab-btn { 
  padding-top:15px; 
  padding-right:1px; 
  padding-bottom:5px; 
  padding-left:1px; 
  display: block;
  border: 2px dotted cornflowerblue;
  border-radius: 10px;
}

#editorTab-color {
  background: gray;
  color: white;
}

#linkTab-color {
  background:gray;
  color: white;
}

.tab-btn:hover{
  background:  lightgray
}
