<!--아웃라인 컴포넌트의 전반적인 컨테이너를 담당한다.-->
<div class="outline row" [@navbarAction]="navbarAction">

    <linkFrame *ngIf="isActiveCrtLinkFrameBtn"  (urlInfomation)="pageGet($event)" [@navbarAction]="navbarAction" class="z-depth-3" [ngStyle]="{'width': linkFrameWidth, 'transform': linkFrameTransform,'z-index': linkFrameZIndex }"
        [iframeOpacity]="iframeOpacity" [iframeHeight]="applyFrameHeight()" [iframeWidth]="applyFrameWidth()" [iframeScale]="applyFrameScale()"></linkFrame>

    <devider id="devider" [@navbarAction]="navbarAction" draggable="true"  [ngStyle]="{ 'z-index': dividerZIndex ,'width': dividerWidth, 'transform': dividerTransform}"
        (drag)="screenResizeStart($event)" (dragend)="screenResizeEnd($event)" (mousedown)="dividerClick()" (mouseup)="dividerDeActive()"></devider>

    <editor [pageContent]="pageContent" #firstEditor (keyup)="saveOperator()"  class="" [@navbarAction]="navbarAction" [dragula]='"first-bag"' [routeData]="inputParam" [ngStyle]="{'width': editorWidth,'transform': editorTransform,'outline':editorFocusOutline }">
    </editor>
    <!--<input #keyword2  (keyup)="testtt(keyword2.value)"/>-->


    <!--탭의 usage에 따라 tab의 종류를 다르게 불러옴-->
    <tab id="linkTab" [@navbarAction]="navbarAction" [@openLinkTab]="linkTabState" [usage]="tabUsage_link"></tab>
    <tab id="editorTab" [@navbarAction]="navbarAction" [@openEditorTab]="editorTabState" [usage]="tabUsage_editor" (mouseleave)="leaveEditorTab()"
        ></tab>
    <!--화면의 양극쪽에 마우스가 올려질 때 탭을 나타냄. linkTab은 링크프레임이 true일 때만 활성화-->
    <div id="linkTabEnterDetector" [@navbarAction]="navbarAction" *ngIf="isActiveCrtLinkFrameBtn==true" (mouseenter)="enterLinkTab()"></div>
    <div id="editorTabEnterDetector" [@navbarAction]="navbarAction" (mouseenter)="enterEditorTab()"></div>
    <div id="linkTabLeaveDetector" [@navbarAction]="navbarAction" *ngIf="linkTabState==='active'" (mouseleave)="leaveLinkTab()"></div>
    <!--<div id="editorTabLeaveDetector" *ngIf="editorTabState==='active'" (mouseleave)="leaveEditorTab()"></div>-->
</div>


<drive-window id="driveWindow" class="modal z-depth-5"   [editorElement]="contentOnEditor"></drive-window>