<div class="navbar-fixed">
<ul id='dropdown' class='dropdown-content center'>
    <li class="divider"></li>
    <li>
        <a data-position="right" data-delay="50" data-tooltip="Input Browser" class="waves-effect center  tooltipped" (click)="createLinkFrame()">
            <i [ngClass]="fontColor" class=" material-icons">input</i>
        </a>
    </li>
    <li>
        <a data-position="right" data-delay="50" data-tooltip="Login" class="waves-effect center tooltipped" (click)="showLoginModal()">
            <i [ngClass]="fontColor" class=" material-icons">vpn_key</i>
        </a>
    </li>
    <li>
        <a data-position="right" data-delay="50" data-tooltip="Full Screen" class="waves-effect center  tooltipped" (click)="openWith()">
            <i [ngClass]="fontColor" class="material-icons ">open_with</i></a>
    </li>
    <li>
        <a data-position="right" data-delay="50" data-tooltip="Help" class="waves-effect  center tooltipped" (click)="openHelp()">
            <i [ngClass]="fontColor" class="material-icons ">info_outline</i></a>
    </li>
    <li>
        <a data-position="right" data-delay="50" data-tooltip="Bar Fixed" class="waves-effect  center tooltipped" (click)="headerFix()">
            <i [ngClass]="fontColor" class="material-icons">import_export</i>
        </a>
    </li>
    <li>
        <a data-position="right" data-delay="50" data-tooltip="Setting" class="waves-effect  center tooltipped" (click)="goSetting()">
            <i [ngClass]="fontColor" class="material-icons">settings</i>
        </a>
    </li>
</ul>

<!--<ul id='linkFrameRatio' class='dropdown-content'>
    <li><a href="#!">90%</a></li>
    <li><a href="#!">100%</a></li>
    <li><a href="#!">110%</a></li>
    <li><a href="#!">120%</a></li>
</ul>-->
<!--화면 비율 조정 -->

<nav [ngClass]="backGrondColor">
    <div class="nav-wrapper">
        <a data-activates="dropdown"   class="dropdown-button button-collapse "><i class="material-icons">menu</i></a>
        <a class="button-collapse"></a>

        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <!--화면 배율 조정 아이콘-->
            <li>
                <a (click)="reduceFrame()">
                    <i [ngClass]="fontColor" class="fa fa-caret-left" aria-hidden="true"></i>
                </a>
            </li>
            <li>

                <a class="dropdown-button " data-activates='linkFrameRatio' data-position="bottom" data-delay="50" data-tooltip="Frame Ratio"
                    class="waves-effect  tooltipped" [ngClass]="fontColor">
                    {{frameRatio}}
                    </a>
            </li>
            <li>
                <a (click)="enlargeFrame()">
                    <i [ngClass]="fontColor" class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
            </li>
            <!---->
            <li><a [ngClass]="fontColor" data-activates='linkFrameRatio' data-position="bottom" data-delay="50" data-tooltip="File Name"
                    class="waves-effect  tooltipped">{{chromeService.getCurrentFileName()}}</a></li>
            <li><a [ngClass]="fontColor" data-activates='linkFrameRatio' data-position="bottom" data-delay="50" data-tooltip="Save State"
                    class="waves-effect  tooltipped">{{saveState}}</a></li>




        </ul>
        <loginboard [@showLoginModal]="isShowLoginModal" (click)="showLoginModal()"></loginboard>
        <a  class="brand-logo center grey-text"><i><h4><b>3ndEditor</b></h4></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li>
                <a [ngClass]="fontColor" data-position="bottom" data-delay="50" data-tooltip="Input Browser" class="waves-effect  tooltipped" keyMap [keyCode]="findShortKeyCode('create_frame_key')"
                    [isCtrKey]="'false'" [isAltKey]="'true'" (keyAction)="createLinkFrame()" (click)="createLinkFrame()">
                    <i class=" material-icons">input</i>
                </a>
            </li>
            <li>
                <a [ngClass]="fontColor" data-position="bottom" data-delay="50" data-tooltip="Login" class="waves-effect  tooltipped" (click)="showLoginModal()">
                    <i class=" material-icons">vpn_key</i>
                </a>
            </li>
            <li>
                <a [ngClass]="fontColor" data-position="bottom" data-delay="50" data-tooltip="Full Screen" class="waves-effect  tooltipped" keyMap [keyCode]="findShortKeyCode('wide_key')"
                    [isAltKey]="'true'" (keyAction)="openWith()" (click)="openWith()">
                    <i class="material-icons ">open_with</i></a>
            </li>
            <li>
                <a [ngClass]="fontColor" data-position="bottom" data-delay="50" data-tooltip="Help" class="waves-effect  tooltipped" keyMap [keyCode]="findShortKeyCode('help_key')"
                    (keyAction)="openHelp()" (click)="openHelp()">
                    <i class="material-icons ">info_outline</i></a>
            </li>
            <li>
                <a [ngClass]="fontColor" data-position="bottom" data-delay="50" data-tooltip="Bar Fixed" class="waves-effect  tooltipped" keyMap [keyCode]="findShortKeyCode('header_fixed_key')"
                    [isAltKey]="'true'" (keyAction)="headerFix()" (click)="headerFix()">
                    <i class="material-icons">import_export</i>
                </a>
            </li>
            <li>
                <a [ngClass]="fontColor" data-position="bottom" data-delay="50" data-tooltip="Setting" class="waves-effect  center tooltipped" (click)="goSetting()">
                    <i class="material-icons">settings</i>
                </a>
            </li>
        </ul>


    </div>



</nav>
</div>

<help *ngIf="isHelpActive"></help>
