<nav class="light-blue darken-1">
    <login [@showLoginModal]="stateLoginModal"  ></login>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="waves-effect waves-light btn" (click)="showLoginModal()">로그인</a>
            </li>
            <li>
                <a href="#" data-activates="slide-out" class="button-collapse "><i class="material-icons">menu</i></a>
            </li>
            <li>
                <a keyMap [keyCode]="keymap.wide_key" [isAltKey]="'true'" (keyAction)="openWith()" (click)="openWith()">
                    <i class="material-icons " [@headerFix]="isHeaderFixed">open_with</i></a>
            </li>
            <li>
                <a keyMap [keyCode]="keymap.help_key" (keyAction)="openHelp()" (click)="openHelp()">
                    <i class="material-icons " [@headerFix]="isHeaderFixed">live_help</i></a>
            </li>
            <li><a  keyMap [keyCode]="keymap.header_fixed_key" [isAltKey]="'true'" (keyAction)="headerFix()" (click)="headerFix()"><i class="material-icons" [@headerFix]="isHeaderFixed" >lock_open</i></a></li>

            <li (click)="sidenav.open()">dddd</li>
        </ul>

    </div>
</nav>

<help *ngIf="isHelpActive"></help>

<!--<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    
  </div>

</md-sidenav-container>-->