<div>
    <img src="assets/image/arrowUpIcon.png" width="30px" height="30px"/>
</div>   
<div class="view">
    <div class="scrollBlind" >
        <div [dragula]='"link"' [dragulaModel]='linkList' >
            <div class="z-depth-2 FixedLink" *ngFor="let link of linkList">
                <div class="linkbox waves-effect tooltipped" data-position="right" data-delay="300" data-tooltip="Title"
                    (click)="sendURL(link.url)">
                    <!--url로 타이틀 받아오기  http://textance.herokuapp.com/title/{{linkA.url}}-->
                    <div>
                        <img src="https://www.google.com/s2/favicons?domain={{link.url}}" alt="favicon" width="30"  height="30">
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<div>
    <img src="assets/image/arrowDownIcon.png" width="30px" height="30px"/>
</div>