.view{
  overflow:hidden;
  height: 550px
}

.scrollBlind{
  overflow-y:scroll;
  height: 100%;
  -ms-overflow-style: none
}

::-webkit-scrollbar {
  display:none;
}

.linkbox{
  padding-top:15px; 
  padding-right:1px; 
  padding-bottom:5px; 
  padding-left:1px; 
  display: block;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
}

.linkbox:hover{
  background:  dimgray
}
