.hidden{
  visibility: hidden;
}

.editorTab {
  background:hsl(240, 100%, 97%);
  color: black;
  position: fixed;
  left: auto;
  top: auto;
  right: 0;
  bottom: auto;
  width: 5%;
  min-width: 50px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.linkTab {
  background:hsl(240, 100%, 97%);
  color: black;
  position: fixed;
  left: 0;
  top: auto;
  right: auto;
  bottom: auto;
  width: 5%;
  min-width: 50px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.tabComponent img {
  vertical-align: middle
}
