<div class="linkTab center" *ngIf="usage=='linkTab'" >
    <div class="flexible url-tab-menu">
        <div class="top-bar"> URL List</div>
        <div>
            <add></add>
        </div>
        <div>
            <linkPack></linkPack>
        </div>
        <div>
            <trash-can></trash-can>
        </div>
    </div>
</div>

<div class="editorTab center" *ngIf="usage=='editorTab'">
    <div class="flexible url-tab-menu">
        <div class="top-bar"> Editor Tab</div>
        <div>
            <save></save>
        </div>
        <div>
            <share></share>
        </div>
        <div>
            <export></export>
        </div>
    </div>
</div>